{% extends 'base.html' %}
{% block content %}
    <div class="group">
        <div class="group-title">Basic vowels</div>
        <div class="button-grid">
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅏ">ㅏ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅑ">ㅑ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅓ">ㅓ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅕ">ㅕ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅗ">ㅗ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅛ">ㅛ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅜ">ㅜ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅠ">ㅠ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅡ">ㅡ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅣ">ㅣ</a>
        </div>
    </div>

    <div class="group">
        <div class="group-title">Combined vowels</div>
        <div class="button-grid">
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅐ">ㅐ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅒ">ㅒ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅔ">ㅔ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅖ">ㅖ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅘ">ㅘ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅙ">ㅙ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅚ">ㅚ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅝ">ㅝ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅞ">ㅞ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅟ">ㅟ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅢ">ㅢ</a>
        </div>
    </div>

    <div class="group">
        <div class="group-title">Basic consonants</div>
        <div class="button-grid">
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㄱ">ㄱ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㄴ">ㄴ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㄷ">ㄷ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㄹ">ㄹ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅁ">ㅁ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅂ">ㅂ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅅ">ㅅ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅇ">ㅇ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅈ">ㅈ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅊ">ㅊ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅋ">ㅋ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅌ">ㅌ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅍ">ㅍ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅎ">ㅎ</a>
        </div>
    </div>

    <div class="group">
        <div class="group-title">Double consonants</div>
        <div class="button-grid">
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㄲ">ㄲ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㄸ">ㄸ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅃ">ㅃ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅆ">ㅆ</a>
            <a class="hangul-btn" href="{{ url_for('sound_page') }}?s=ㅉ">ㅉ</a>
        </div>
    </div>
{% endblock %}